@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .skills {
        height: 500px;
        width: 70%;
        top: 60%;
    }

    #html, #css, #javaScript, #react {
        height: 180px;
        width: 180px;
        margin-left: 200px;
        margin-right: 120px;
    }

    #html:hover, #css:hover, #javaScript:hover, #react:hover {
        height: 178px;
        width: 178px;
        border: 1.5px #212020 solid; 
    }

    .meter {
        width: 100px; 
        left: 20px;
    }

    #percentage {
        font-size: 14px;
        bottom: 10px;
    }
    .slide5 {
        height: 250px;
    }

    .slide5 h1 {
        font-size: 60px;
        top: 10px;
    }

    .contect {
        width: 90%; 
        top: 170px;
    }

    .email, .phone, .location {
        height: 80%;
        padding-left: 20px;
    }

    .email {
        width: 30%; 
    }

    .phone {
        width: 20%;
    }

    .location {
        width: 22%;
    }

    .email img, .phone img, .location img {
        height: 18px;
        width: 18px;
    }

    .email span, .phone span, .location span {
        font-size: 18px; 
    }

    .slide5 hr {
        width: 85%; 
        bottom: 40px;
    }

    .foot {
        width: 85%;
    }

    .foot span {
        font-size: 18px;
    }

    .social {
        width: 25%; 
    }

    .social img {
        height: 80%;
        padding-left: 15px;
    }

    #intro-text {
        height: 40%; 
        width: 30%;  
        left: 15%;   
    }

    #intro-text label {
        font-size: 25px; 
        line-height: 40px;
    }

    #intro-text span {
        font-size: 40px;
    }

    #intro-text button {
        font-size: 18px;
        height: 45px;   
        width: 130px;   
        top: 120px;     
        left: 15px;     
    }

    #intro-text button:hover {
        border: 2px white solid;
        background-color: #212020;
        color: #e7e3e3;
        font-weight: 500;
        font-family: "DM Sans", sans-serif;
        border: 2px #e7e3e3 solid;
    }

    .slide2 {
        height: 450px; 
    }

    .slide2 h1 {
        font-size: 60px;
        top: 20px;
    }

    .about-text {
        height: 280px;
        width: 90%; 
        bottom: 15%;
        left: 5%; 
        right: 5%;
    }

    .about-text span {
        font-size: 30px; 
        line-height: 1.4;
    }

    .slide4 {
        height: 650px;
    }

    .slide4 h1 {
        font-size: 60px;
        top: 20px;
    }

    .Projects {
        height: 500px;
        width: 70%; 
        bottom: 55%; 
    }

    .prev, .next {
        font-size: 22px;
        padding: 12px; 
    }

    .dot {
        height: 12px; 
        width: 12px;
        margin: 0 3px;
    }

    .Project {
        height: 400px;
        width: 85%;
    }

    .Project h2 {
        font-size: 26px;
    }

    .Project-text {
        height: 250px; 
        width: 85%;
    }

    .Project-text span {
        font-size: 22px; 
        line-height: 1.2;
    }
}
/* screen 2 */

@media only screen and (min-width: 950px) and (max-width: 1024px) {
    body {
        height: auto; /* Adjusted to fit content */
    }

    .Hero {
        height: 650px;
    }

    header {
        height: 45px;
        width: 85%;
        top: 15px;
        border-radius: 25px;
        background-color: #212020;
    }

    .icon {
        height: 45px;
        width: 45px;
    }

    nav {
        height: 20px;
    }

    ul li {
        margin-right: 40px;
        font-size: 16px;
    }

    .dark-btn {
        height: 35px;
        width: 45px;
    }

    #btn-header {
        height: 45px;
        width: 130px;
        font-size: 18px;
    }

    #image-header {
        height: 18px;
        width: 18px;
    }

    .Slide1 {
        height: 75%;
    }

    #profile-image {
        height: 90%;
        width: 35%;
        right: 100px;
    }

    #intro-text {
        height: 28%;
        width: 40%;
        left: 12%;
    }

    #intro-text label {
        font-size: 28px;
        line-height: 40px;
    }

    #intro-text span {
        font-size: 45px;
    }

    #intro-text button {
        font-size: 18px;
        height: 45px;
        width: 140px;
        top: 100px;
    }

    .slide2 {
        height: 500px;
    }

    .slide2 h1 {
        font-size: 65px;
    }

    .about-text {
        height: 280px;
        width: 85%;
        bottom: 15%;
    }

    .about-text span {
        font-size: 30px;
    }

    .slide3 {
        height: 650px;
    }

    .slide3 h1 {
        font-size: 65px;
    }

    .skills {
        height: 500px;
        width: 55%;
        top: 55%;
    }

    #html, #css, #javaScript, #react {
        height: 180px;
        width: 180px;
        margin-left: 50px;
        margin-right: 60px;
    }

    .meter {
        width: 100px;
        left: 20px;
    }

    #percentage {
        font-size: 14px;
        bottom: 10px;
    }

    .slide4 {
        height: 650px;
    }

    .slide4 h1 {
        font-size: 65px;
    }

    .Projects {
        height: 500px;
        width: 65%;
        top: 55%;
    }

    .prev, .next {
        font-size: 20px;
        padding: 14px;
    }

    .dot {
        height: 12px;
        width: 12px;
    }

    .Project {
        height: 400px;
        width: 85%;
    }

    .Project h2 {
        font-size: 24px;
    }

    .Project-text {
        height: 250px;
        width: 85%;
    }

    .Project-text span {
        font-size: 20px;
    }

    .slide5 {
        height: 250px;
    }

    .slide5 h1 {
        font-size: 60px;
    }

    .contect {
        height: 60px;
        width: 85%;
        top: 160px;
    }

    .email, .phone, .location {
        height: 80%;
        padding-left: 20px;
    }

    .email {
        width: 30%;
    }

    .phone {
        width: 20%;
    }

    .location {
        width: 22%;
    }

    .email img, .phone img, .location img {
        height: 18px;
        width: 18px;
    }

    .email span, .phone span, .location span {
        font-size: 18px;
    }

    .slide5 hr {
        width: 75%;
        bottom: 40px;
    }

    .foot {
        width: 85%;
    }

    .foot span {
        font-size: 18px;
    }

    .social {
        width: 30%;
    }

    .social img {
        height: 80%;
        padding-left: 15px;
    }
}
@media only screen and (width: 1024px) {
    .skills {
        height: 500px;
        width: 70%;
        top: 60%;
    }

    #html, #css, #javaScript, #react {
        height: 180px;
        width: 180px;
        margin-left: 150px;
        margin-right: 80px;
    }

    #html:hover, #css:hover, #javaScript:hover, #react:hover {
        height: 178px;
        width: 178px;
        border: 1.5px #212020 solid; 
    }

    .meter {
        width: 100px; 
        left: 20px;
    }

    #percentage {
        font-size: 14px;
        bottom: 10px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 949px) {
    .skills {
        height: 500px;
        width: 70%;
        top: 60%;
    }

    #html, #css, #javaScript, #react {
        height: 180px;
        width: 180px;
        margin-left: 200px;
        margin-right: 120px;
    }

    #html:hover, #css:hover, #javaScript:hover, #react:hover {
        height: 178px;
        width: 178px;
        border: 1.5px #212020 solid; 
    }

    .meter {
        width: 100px; 
        left: 20px;
    }

    #percentage {
        font-size: 14px;
        bottom: 10px;
    }
}